In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv('/home/santos/Downloads/exams.csv',header=0)

In [7]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [16]:
#Dummy variables
for i in df.columns:
    if df[i].dtype == "object":
        df[i]=df[i].astype('category').cat.codes

In [17]:
df.head()

,math score,reading score,writing score,gender_male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_standard,test preparation course_none
0,59,70,78,0,0,0,1,0,0,0,0,1,0,1,0
1,96,93,87,1,0,0,1,0,0,0,0,0,0,1,1
2,57,76,77,0,0,0,1,0,0,0,0,1,0,0,1
3,70,70,63,1,1,0,0,0,0,0,0,1,0,0,1
4,83,85,86,0,0,0,1,0,0,0,0,0,0,1,1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   math score                                     1000 non-null   int64
 1   reading score                                  1000 non-null   int64
 2   writing score                                  1000 non-null   int64
 3   gender_male                                    1000 non-null   uint8
 4   race/ethnicity_group B                         1000 non-null   uint8
 5   race/ethnicity_group C                         1000 non-null   uint8
 6   race/ethnicity_group D                         1000 non-null   uint8
 7   race/ethnicity_group E                         1000 non-null   uint8
 8   parental level of education_bachelor's degree  1000 non-null   uint8
 9   parental level of education_high school        1000 non-null   uint8
 10  parental level of education_master's degree    1000 non-null   uint8
 11  parental level of education_some college       1000 non-null   uint8
 12  parental level of education_some high school   1000 non-null   uint8
 13  lunch_standard                                 1000 non-null   uint8
 14  test preparation course_none                   1000 non-null   uint8
dtypes: int64(3), uint8(12)
memory usage: 35.3 KB

In [20]:
x = df.drop('math score',axis=1)
y = df['math score']

In [21]:
x.head()

,reading score,writing score,gender_male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_standard,test preparation course_none
0,70,78,0,0,0,1,0,0,0,0,1,0,1,0
1,93,87,1,0,0,1,0,0,0,0,0,0,1,1
2,76,77,0,0,0,1,0,0,0,0,1,0,0,1
3,70,63,1,1,0,0,0,0,0,0,1,0,0,1
4,85,86,0,0,0,1,0,0,0,0,0,0,1,1

In [22]:
y.head()

0    59
1    96
2    57
3    70
4    83
Name: math score, dtype: int64

In [26]:
#Test train 
from sklearn.model_selection import train_test_split

In [117]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size = 0.2, random_state=0)

In [118]:
x_train.head()

,reading score,writing score,gender_male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_standard,test preparation course_none
687,60,59,1,0,0,0,1,0,0,0,0,1,1,1
500,97,91,0,0,0,0,1,0,0,0,0,1,1,1
332,63,63,1,0,1,0,0,0,1,0,0,0,1,1
979,84,78,1,0,1,0,0,0,0,0,0,1,1,1
817,69,63,0,1,0,0,0,0,0,0,1,0,1,1

In [119]:
x_train.shape

(800, 14)

In [120]:
x_test.shape

(200, 14)

In [121]:
y_test.shape

(200,)

In [143]:
#Linear Regression

In [131]:
from sklearn import tree
regtree = tree.DecisionTreeRegressor(max_depth=3)

In [132]:
regtree.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=3)

In [134]:
# Predicting model
y_train_pred = regtree.predict(x_train)

In [136]:
y_test_pred = regtree.predict(x_test)

In [137]:
y_test_pred

array([77.75824176, 77.75824176, 54.55      , 49.18032787, 65.49019608,
       54.55      , 66.17073171, 79.56081081, 54.55      , 87.86904762,
       79.56081081, 79.56081081, 54.55      , 66.17073171, 65.49019608,
       54.55      , 66.17073171, 65.49019608, 66.17073171, 66.17073171,
       65.49019608, 49.18032787, 77.75824176, 49.18032787, 65.49019608,
       66.17073171, 77.75824176, 54.55      , 79.56081081, 87.86904762,
       77.75824176, 49.18032787, 66.17073171, 77.75824176, 87.86904762,
       49.18032787, 49.18032787, 79.56081081, 77.75824176, 65.49019608,
       66.17073171, 66.17073171, 65.49019608, 54.55      , 87.86904762,
       87.86904762, 66.17073171, 54.55      , 54.55      , 66.17073171,
       77.75824176, 49.18032787, 49.18032787, 66.17073171, 66.17073171,
       77.75824176, 79.56081081, 79.56081081, 79.56081081, 49.18032787,
       65.49019608, 87.86904762, 77.75824176, 65.49019608, 65.49019608,
       87.86904762, 79.56081081, 65.49019608, 66.17073171, 77.75824176,
       77.75824176, 65.49019608, 49.18032787, 66.17073171, 87.86904762,
       87.86904762, 79.56081081, 77.75824176, 54.55      , 77.75824176,
       54.55      , 79.56081081, 79.56081081, 38.76666667, 77.75824176,
       49.18032787, 87.86904762, 66.17073171, 54.55      , 54.55      ,
       49.18032787, 66.17073171, 79.56081081, 65.49019608, 54.55      ,
       77.75824176, 66.17073171, 66.17073171, 65.49019608, 77.75824176,
       54.55      , 66.17073171, 38.76666667, 66.17073171, 38.76666667,
       87.86904762, 66.17073171, 79.56081081, 65.49019608, 77.75824176,
       79.56081081, 38.76666667, 79.56081081, 49.18032787, 87.86904762,
       54.55      , 87.86904762, 79.56081081, 54.55      , 38.76666667,
       87.86904762, 79.56081081, 54.55      , 66.17073171, 77.75824176,
       49.18032787, 79.56081081, 54.55      , 49.18032787, 66.17073171,
       66.17073171, 77.75824176, 65.49019608, 77.75824176, 49.18032787,
       66.17073171, 79.56081081, 77.75824176, 79.56081081, 54.55      ,
       49.18032787, 49.18032787, 54.55      , 54.55      , 38.76666667,
       65.49019608, 66.17073171, 65.49019608, 66.17073171, 87.86904762,
       54.55      , 79.56081081, 77.75824176, 79.56081081, 66.17073171,
       65.49019608, 54.55      , 87.86904762, 77.75824176, 87.86904762,
       87.86904762, 77.75824176, 66.17073171, 54.55      , 79.56081081,
       87.86904762, 77.75824176, 38.76666667, 49.18032787, 38.76666667,
       66.17073171, 49.18032787, 79.56081081, 49.18032787, 38.76666667,
       66.17073171, 77.75824176, 87.86904762, 49.18032787, 54.55      ,
       77.75824176, 49.18032787, 54.55      , 65.49019608, 66.17073171,
       66.17073171, 77.75824176, 65.49019608, 66.17073171, 79.56081081,
       66.17073171, 87.86904762, 79.56081081, 66.17073171, 49.18032787,
       79.56081081, 66.17073171, 77.75824176, 79.56081081, 66.17073171])

In [138]:
#Testing accuracy of model
from sklearn.metrics import mean_squared_error, r2_score

In [139]:
mean_squared_error(y_train,y_train_pred)

61.29685789197048

In [140]:
mean_squared_error(y_test,y_test_pred)

80.8920303524389

In [141]:
r2_score(y_train,y_train_pred)

0.728745467274569

In [142]:
r2_score(y_test,y_test_pred)

0.684256969684848